<!DOCTYPE html>
@using Events.Web.Helpers;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Event Registration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/Application/eventsManager.js"></script>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <section class="main">
        <header>
            <section id="support-links">
                <p>
                    <a href="#">Support</a> | <a href="#">Contact</a>
                </p>
            </section>
            <a class="logo">Event Registration</a>
        </header>
        <nav>
            <ul id="menu">
                <li><a href="@Url.Action("Index","Home")" class='home @(ViewBag.CurrentView == MenuEnabledView.Default ? "selected" : "")'>Upcoming Events</a></li>
                <li><a href="@Url.Action("MyEvents","Events")" class='myevents @(ViewBag.CurrentView == MenuEnabledView.MyEvents ? "selected" : "")'>My Events</a></li>
                <li><a href="@Url.Action("AddEvent","Events")" class='addevent @(ViewBag.CurrentView == MenuEnabledView.AddEvent ? "selected" : "")'>Create an Event</a></li>
            </ul>
        </nav>
    </section>
    <div id="body">
        <section class="content-wrapper">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="title">
                <p>&copy;@DateTime.Now.Year - Event Registration</p>
            </div>
            <div class="links">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Upcoming Events</a></li>
                    <li>|</li>
                    <li><a href="@Url.Action("MyEvents","Events")">My Events</a></li>
                    <li>|</li>
                    <li><a href="@Url.Action("AddEvent","Events")">Create an Event</a></li>
                    <li>|</li>
                    <li><a href="#">Support</a></li>
                    <li>|</li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>